@tailwind base;
@tailwind components;
@tailwind utilities;

roboto-mono-regular {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  html {
    --primary-color: #64FFDA;
  }
  
  *::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #112240;
  }
  
  *::-webkit-scrollbar {
    width: 4px;
    background-color: #112240;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #64FFDA;
  }
  